@model Inlämning_2___Webshop.ViewModels.AddMealViewModel;

<form method="post" asp-action="AddMeal" asp-controller="Admin">
    <label asp-for="Recipe.MatrattNamn">Namn</label>
    <input asp-for="Recipe.MatrattNamn" placeholder="Namn" />

    <label asp-for="Recipe.Beskrivning">Beskrivning</label>
    <input asp-for="Recipe.Beskrivning" placeholder="Beskrivning" />

    <label asp-for="Recipe.Pris">Pris</label>
    <input asp-for="Recipe.Pris" type="number" placeholder="0" />

    <label asp-for="Recipe.MatrattTyp">Kategori</label>

    <select asp-for="Recipe.MatrattTyp">
        @foreach (var category in Model.Categories)
        {
            <option value="@category.MatrattTypId">@category.Beskrivning</option>
        }
    </select>

    <select asp-for="@Model.SelectedIngredientIds">
        @foreach (var ingredient in Model.Ingredients)
        {
            <option value="@ingredient.ProduktId">@ingredient.ProduktNamn</option>
        }
    </select>

    <input type="submit" value="Submit" class="btn btn-primary" />
</form>

