@model List<Inlämning_2___Webshop.Models.Matratt>

<h3>Du har beställt: </h3>
<h4>@User.IsInRole("premium")</h4>

<table>
    @foreach (var matratt in Model)
    {
        <tr>
            <td>@matratt.MatrattNamn</td>
            <td>@matratt.Pris SEK</td>
            <td><a asp-controller="Store" asp-action="RemoveFromCart" asp-route-id="@matratt.MatrattId" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#cart">Remove</a></td>
        </tr>
    }

<tr>
    <td>Totalsumma: </td>
    @if (User.IsInRole("premium"))
    {
        @if (Model.Count >= 3)
        {
            <td><s>@Convert.ToInt32(Model.Sum(p => p.Pris))</s> <span style="font-weight:bold; color:forestgreen">@Convert.ToInt32(Model.Sum(p => p.Pris) * .8) SEK</span></td>
        }
        else
        {
            <td>@Convert.ToInt32(Model.Sum(p => p.Pris)) SEK</td>
        }
    }
    else
    {
        <td>@Convert.ToInt32(Model.Sum(p => p.Pris)) SEK</td>
    }
</tr>
</table>

<a class="btn btn-success" asp-controller="Store" asp-action="ConfirmOrder">Complete order</a>
