@model List<Inlämning_2___Webshop.ViewModels.Admin.AdminOrderViewModel>

@using Microsoft.AspNetCore.Identity
@using Inlämning_2___Webshop.IdentityData;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<table>
    <tr>
        <th>User</th><th>Date</th><th>Cost</th><th>Delivery status</th><th></th><th></th>
    </tr>
    @foreach (var user in Model)
    {
        @foreach (var order in user.Orders)
        {
            <tr>
                <td>@user.User.UserName</td>
                <td>Order date: @order.BestallningDatum</td>
                <td>@order.Totalbelopp</td>
                <td>
                    Delivery status:
                    @if (order.Levererad.Equals(false))
                    {
                        <span>On the way</span>
                    }
                    else
                    {
                        <span>Delivery completed</span>
                    }
                </td>
                <td><a asp-action="RemoveOrder" asp-controller="Admin" asp-route-orderid="@order.BestallningId" class="btn btn-danger btn-sm" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#orders">Remove Order</a></td>
                <td><a asp-action="ChangeOrderStatus" asp-controller="Admin" asp-route-orderid="@order.BestallningId" class="btn btn-warning btn-sm" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#orders">Change order status</a></td>
            </tr>
        }
    }
</table>

@*<table>
    @foreach (var order in Model)
    {
        <tr>
            <td>Order date: @order.BestallningDatum</td>
            <td>@order.Totalbelopp</td>
            <td>
                Delivery status:
                @if (order.Levererad.Equals(false))
                {
                    <span>On the way</span>
                }
                else
                {
                    <span>Delivery completed</span>
                }
            </td>
            <td><a asp-action="DeleteOrder" asp-controller="Admin" class="btn btn-danger btn-sm">Remove Order</a></td>
            <td><a asp-action="ChangeOrderStatus" asp-controller="Admin" asp-route-orderid="@order.BestallningId" class="btn btn-warning btn-sm" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#orders">Change order status</a></td>
        </tr>
    }
</table>*@