@model Inlämning_2___Webshop.ViewModels.UpdateUserViewModel

    <form class="userdata-form" method="post" asp-action="UpdateUserData">
        <input asp-for="@Model.UserData.Id" type="hidden" value="@Model.UserData.Id" />

        <div class="formgroup">
            <label asp-for="@Model.UserData.UserName">Username</label>
            <input asp-for="@Model.UserData.UserName" value="@Model.UserData.UserName " />
        </div>
        <div class="formgroup">
            <label asp-for="@Model.UserData.Email">Email</label>
            <input asp-for="@Model.UserData.Email" value="@Model.UserData.Email" />
        </div>

        <div class="formgroup">
            <label asp-for="@Model.UserData.PhoneNumber">Phone number</label>
            <input asp-for="@Model.UserData.PhoneNumber" value="@Model.UserData.PhoneNumber" />
        </div>

        <div class="formgroup">
            <label asp-for="@Model.UserRoleName">Role</label>
            <select asp-for="@Model.UserRoleName">
                @foreach (var role in Model.Roles)
                {
                    if (role.Name == Model.UserRole[0])
                    {
                        <option value="@role.Name" selected>@role.Name</option>
                    }
                    else
                    {
                        <option value="@role.Name">@role.Name</option>
                    }
                }
            </select>
            <input class="role-form-submit" type="submit" value="Submit" />
        </div>
    </form>