@model Inlämning_2___Webshop.ViewModels.OrdersMatrattViewModel

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<div class="flex-container">
    <table class="order-table">
        <tr>
            <th>Order Date:</th>
            <th class="order-price">Total Price</th>
            <th>Delivery Status</th>
            <th>Contents</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var order in Model.OrderMealData)
        {
            <tr>
                <td>@order.Order.BestallningDatum.ToShortDateString()</td>
                <td class="order-price">@order.Order.Totalbelopp SEK</td>
                <td>
                    @if (order.Order.Levererad.Equals(false))
                    {
                        <span>On the way</span>
                    }
                    else
                    {
                        <span>Delivery completed</span>
                    }
                </td>
                <td>
                    <table>
                        @foreach (var item in order.MealList)
                        {
                            <tr>
                                <td>@item.Meal.MatrattNamn</td>
                                <td class="item-amount"><span>x</span>@item.Amount</td>
                            </tr>
                        }
                    </table>
                </td>
                <td class="remove-order"><a asp-action="RemoveOrder" asp-controller="User" asp-route-orderid="@order.Order.BestallningId" class="btn btn-danger btn-sm">Remove Order</a></td>
                <td class="table-row-space"></td>
            </tr>
        }
    </table>
</div>